@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Monoton&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------- ScrollBar ---------*/

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #ff0050);
  border-radius: 6px;
}

html {
  scroll-behavior: smooth;
}

/*--------- Preloader ---------*/

.Loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Loader-disapear {
  animation: vanish 1s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

::selection {
  background: #ff0050;
  color: white;
}

/*--------------- Navbar ---------------*/

.navbar {
  background: white;
}

.fixed-top {
  background: #ffffff;
  color: #ffffff;
}

.fixed-top .navbar-brand {
  color: #ff0050;
}

.navbar-brand {
  margin-left: 1em;
  font-size: 24px;
  font-family: "Monoton", cursive;
  color: #41bfb1;
}

.navbar-brand:hover {
  color: black;
  cursor: pointer;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0;
}

.navbar-nav .nav-item a {
  color: crimson;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  border-radius: 50px;
}

#navbarNav .nav-resume {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
}

#navbarNav .nav-resume button {
  background: #ff0050;
  outline: none;
  font-family: "Monoton", cursive;
  border: #ff0050;
}

#navbarNav .nav-resume button:hover {
  color: #ff0050;
  background-color: white;
  border: 2px solid #ff0050;
}

@media (max-width: 768px) {
  #navbarNav {
    padding-left: 1em;
  }
  #navbarNav .nav-resume {
    padding-left: 0;
  }
  #navbarNav .nav-resume {
    display: flex;
    justify-content: center;
    margin-right: 1em;
  }
  #navbarNav .nav-resume button {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .navbar-brand {
    margin-left: 4em;
  }
  .navbar-nav .nav-item {
    padding-right: 1em;
  }
  .navbar-nav .nav-item:last-child {
    padding-right: 0;
  }

  .navbar-nav .nav-item a {
    color: crimson;
    width: 140px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    text-align: center;
    border-radius: 50px;
  }

  .navbar-nav .nav-item a:hover {
    color: white;
    background-color: #ff0050;
    border-radius: 50px;
  }
}

/*---------- Banner Section ----------*/

.Banner {
  position: relative;
  width: 100%;
  height: 90vh;
  background: #ff0050;
}

.Banner-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.hero-text div h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
}

.hero-text div h1 span {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  color: white;
}

.hero-text div h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
}

.hero-text div h3 span {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: white;
}

/*---------- About Section ----------*/

.About {
  margin-top: 100px;
}

.About div .About-heading h1 {
  text-align: center;
}

.About-subHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.About div h4 {
  text-align: center;
}

.About div hr {
  width: 40px;
  opacity: 1;
  color: #ff0050;
  border-top: 4px solid #ff0050;
}

.About-content {
  margin-top: 50px;
}

.About-content div:last-child h3 {
  position: relative;
  margin-top: 20px;
}

.About-content div:last-child h3 span {
  color: #ff0050;
}

.About-content div:last-child h5 span {
  color: #ff0050;
}

.About-content p {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.About-content .About-resume button {
  background: #ff0050;
  outline: none;
  font-family: "Monoton", cursive;
  border: #ff0050;
}

.About-content .About-resume button:hover {
  color: #ff0050;
  background-color: white;
  border: 2px solid #ff0050;
}

/*---------- MySkills Section ----------*/

.MySkills {
  margin-top: 100px;
}

.MySkills div .MySkills-heading h3 {
  text-align: center;
}

.MySkills div .MySkills-heading hr {
  width: 90px;
  opacity: 1;
  color: #ff0050;
  border-top: 4px solid #ff0050;
  margin-left: auto;
  margin-right: auto;
}

.MySkills-content {
  margin-top: 60px;
}

.MySkills-content div h4 span {
  color: #ff0050;
}

.MySkills-content div p {
  position: relative;
  margin-top: 30px;
  padding-right: 30px;
}

.MySkills-content div .bars {
  margin-bottom: 15px;
}

.MySkills-content div .bars .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}

.MySkills-content div .bars .info span {
  font-weight: 500;
  font-size: 18px;
}

.MySkills-content div .bars .bars-line {
  position: relative;
  height: 5px;
  border-radius: 5px;
  width: 100%;
  background: gray;
  border-radius: 3px;
}

.MySkills-content div .bars .bars-line::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  background: #ff0050;
}

.MySkills-content div .bars .bars-Html::before {
  width: 90%;
}

.MySkills-content div .bars .bars-Css::before {
  width: 75%;
}

.MySkills-content div .bars .bars-Bootstrap::before {
  width: 80%;
}

.MySkills-content div .bars .bars-javascript::before {
  width: 50%;
}

.MySkills-content div .bars .bars-react::before {
  width: 20%;
}
